.aside {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    margin: 1rem;
    padding: 0rem;
    align-items: stretch;
    align-self: baseline;
}

.aside-list {
    width: 100%;
    list-style: none;
    padding: 0.5rem 1.5rem;
    margin: 1rem;
    border: 1px solid #ff0055;
    background-color: #ff0055;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75);
    font-weight: 700;
    color: white;
}

.aside-list__level_2 {
    background-color: #207ce5;    
}

.aside-list__level_3 {
    background-color: #e7fc44;
    
}

@media (min-width: 768px) {
    .aside {
        width: 20%;
    }
}

