.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  margin: 1rem;
  padding: 0.5rem;
  display: none;
}

.nav-links a {
  border: 1px solid transparent;
  border-radius: 4px;
  color: #292929;
  text-decoration: none;
  padding: 0.5rem;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
  background: #e7fc44;
  border-color: #292929;
  color: #292929;
}

/* button hamburger */
.button-drawer {
  padding: 0.2rem 0;
  color: #292929;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #292929;
  font: inherit;
}

.button-drawer:hover {
  color: #292929;
  cursor: pointer;
  background-color: #e7fc44;
  border: 1px solid #292929;
  font: inherit;
}

.button-drawer span {
  display: block;
  width: 2rem;
  height: 2px;
  background: black;
  margin: 0.4rem;
}

/* side drawer */
.side-drawer .nav-links {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.side-drawer .nav-links li {
  display: flex;
  background-color: #d9d9d9;
  padding: 0rem;
  margin: 0rem;
  border-bottom: 1px solid black;
}

.side-drawer .nav-links a {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0;
  color: black;
}


@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .nav-links li {
    margin: 0 0.5rem;
    display: flex;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
  }

  .button-drawer {
    display: none;
  }
}